:root {
  	--color-Backround: #0F172A;
	--color-Surface: #1E293B;
	--color-Elevated: #334155;
  	--color-Border: #475569;
  	--color-Text: #F1F5F9;
  	--color-TextSubtle: #94A3B8;

	--color-link: #d4da82;
	--color-linkdim: #d4da829c;

	--color-shared: #4291ec;
	--color-map: #e9aa36;
	--color-mod: #f54129;

	--color-shared-dim: #2672c991;
	--color-map-dim: #e9aa3681;
	--color-mod-dim: #c945339d;
}





h1{
	font-family: Arial;
	color: var(--color-Text);
	transition: color 0.4s ease;
}
h2{
	font-family: Arial;
	color: var(--color-Text);
	transition: color 0.4s ease;
}
h3{
	font-family: Arial;
	color: var(--color-Text);
	transition: color 0.4s ease;
}
h4{
	font-family: Arial;
	color: var(--color-Text);
	transition: color 0.4s ease;
}
h5{
	font-family: Arial;
	color: var(--color-Text);
	transition: color 0.4s ease;
}
h6{
	font-family: Arial;
	color: var(--color-Text);
	transition: color 0.4s ease;
}

ul{
	font-family: Arial;
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
}
ol{
	font-family: Arial;
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
}





p{
	font-family: Arial;
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
}





li{
	font-family: Arial;
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
}
hr{
	font-family: Arial;
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
}

math{
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
}

span.katex-display{
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
}





button{
	font-family: Arial;
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
}
img{
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	
}
div.background{
	background-color: var(--color-Backround);
	transition: color 0.4s ease;
	min-height: 100px; 
}
div{
	border-color: var(--color-Border);
	border-style: solid;
	border: none;
	transition: color 0.4s ease;
}




.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pagelist {
	font-family: Arial;
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	text-align: left;
	font-size: small;
	padding: 0px;
	margin: 0px;
}

p.pagelist {
	padding-left: 4px;
	transition: color 1s ease;
}
p.pagelist:hover {
	transition: color 0.1s ease;
}

a{
	font-family: Arial;
	color: var(--color-link);
	transition: color 0.4s ease;
	text-align: left;
}



/*list for navigation thingy that left side i cannot remember name of*/

details {

  	padding: 0.5em 0.5em 0;
  	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	margin-bottom: 0.5em;
	border-color: var(--color-link);

	transition: open 0.2s ease;
}

summary {
  	margin: -0.5em -0.5em 0;
  	padding: 0.2em;
  	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	text-align: left;
	font-size: smaller;

	border-left: 2px dotted var(--color-Border);
	border-color: var(--color-linkdim);

	transition: open 0.2s ease;

	max-height: 1em;
}

details[open] {
  	padding: 0.5em;
	padding-left: 1em;
  	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	border-left: 2px solid;
}

details[open] summary {
  	margin-bottom: 0.5em;
  	color: var(--color-TextSubtle);
	transition: color 0.1s ease-in;
	transition: color 2s ease-out;
}



/*mapping - orange*/
summary.map {
  	margin: -0.5em -0.5em 0;
  	padding: 0.2em;
  	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	text-align: left;
	font-size: smaller;

	border-left: 2px dotted var(--color-Border);
	border-color: var(--color-map-dim);



	max-height: 1em;
}
summary.map:hover {
	color: var(--color-map);
}

details.map {

  	padding: 0.5em 0.5em 0;
  	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	margin-bottom: 0.5em;
	border-color: var(--color-map);
}

p.map {
	color: var(--color-map-dim);
}
p.map:hover {
	color: var(--color-map);
}
/*modding - red*/
summary.mod {
  	margin: -0.5em -0.5em 0;
  	padding: 0.2em;
  	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	text-align: left;
	font-size: smaller;

	border-left: 2px dotted var(--color-Border);
	border-color: var(--color-mod-dim);



	max-height: 1em;
}
summary.mod:hover {
	color: var(--color-mod);
}

details.mod {

  	padding: 0.5em 0.5em 0;
  	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	margin-bottom: 0.5em;
	border-color: var(--color-mod);
}

p.mod {
	color: var(--color-mod-dim);
}
p.mod:hover {
	color: var(--color-mod);
}
/*shared - blue*/
summary.sha {
  	margin: -0.5em -0.5em 0;
  	padding: 0.2em;
  	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	text-align: left;
	font-size: smaller;

	border-left: 2px dotted var(--color-Border);
	border-color: var(--color-shared-dim);



	max-height: 1em;
}
summary.sha:hover {
	color: var(--color-shared);
}

details.sha {

  	padding: 0.5em 0.5em 0;
  	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	margin-bottom: 0.5em;
	border-color: var(--color-shared);
}

p.sha {
	color: var(--color-shared-dim);
}
p.sha:hover {
	color: var(--color-shared);
}