
h1{
	font-family: Arial;
	color: var(--color-Text);
	transition: color 0.4s ease;
	text-align: left;
}
h2{
	font-family: Arial;
	color: var(--color-Text);
	transition: color 0.4s ease;
	text-align: left;
}
h3{
	font-family: Arial;
	color: var(--color-Text);
	transition: color 0.4s ease;
	text-align: left;
}
h4{
	font-family: Arial;
	color: var(--color-Text);
	transition: color 0.4s ease;
	text-align: left;
}
h5{
	font-family: Arial;
	color: var(--color-Text);
	transition: color 0.4s ease;
	text-align: left;
}
h6{
	font-family: Arial;
	color: var(--color-Text);
	transition: color 0.4s ease;
	text-align: left;
}

ul{
	font-family: Arial;
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	text-align: left;
}
ol{
	font-family: Arial;
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	text-align: left;
}
p{
	font-family: Arial;
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	text-align: left;
}
li{
	font-family: Arial;
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	text-align: left;
}
hr{
	font-family: Arial;
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	text-align: left;
}

math{
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	
}

a{
	font-family: Arial;
	color: var(--color-link);
	transition: color 0.4s ease;
	text-align: left;
}

span.katex-display{
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
}

button{
	font-family: Arial;
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
}
img{
	color: var(--color-TextSubtle);
	transition: color 0.4s ease;
	
}
div.background{
	background-color: var(--color-Backround);
	transition: color 0.4s ease;
	min-height: 100px; 
}
div{
	border-color: var(--color-Border);
	border-style: solid;
	border: none;
	transition: color 0.4s ease;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
